header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

.logo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 20px;
    height: 100%;
}

@media (max-width: 500px) {
    .logo {
        background-position: center center;
    }
}
