header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 10px #CCCCCC;
}

/* color: white
height: 70px
width: 100%
border bottom 1px #CCCCCC
logo align on left and center vertically (20px space at the left) */
